@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@200;500;700&display=swap');
/*METODO 02 PARA IMPORTAR FONTS*/

/* 
    color-base: #000000;
    color-backco: #DBB572;
    color-principal: #8F661F;
    color-secundario: #DB9011;
    color-enlaces: #012142;
    color-enlaces-light: #1F558F; */

body {
    color: #000000;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background-image: url(../img/lemon-pie2.jpg);
    background-size: cover;
    height: 350px;
    width: auto;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.negrita {
    color: #012142;
    font-style: normal;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #1F558F;
    font-style: oblique;
    font-weight: 700;

}

h3 {
    font-style: italic;
    color: #DB9011;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;

}

h2,
.icons {
    color: #8F661F;
    font-size: 30px;
}



.banner_final {
    background-image: url(../img/niños-cocina-motivacion.jpg);
    background-size: cover;
    height: 400px;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}

.banner_final_mensaje {
    margin-left: 400px;
    color: #1F558F;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    opacity: 1;
}