* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.box_intro {
    position: relative;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
}

.box_intro_text {
    width: 354px;
    height: auto;
    position: relative;
    left: 20px;
    top: 8px;
    bottom: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14 px;
    color: #000000;
}

.box_nombreTiendaGeneral {
    position: sticky;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 60px;
    left: 0;
    top: 0px;
    z-index: 10;
}

.box_nombreTienda {
    background-image: url(../img/bg-batman.jpg);
    background-position: center;
    background-size: 180%;
    border-radius: 50px 50px 0px 0px;
    width: 325px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.box_nombreTienda_text {
    font-size: 35px;
    position: relative;
    color: white;
    left: 20px;
    top: 10px;
    bottom: 0px;
    font-style: normal;
    font-weight: normal;

}

.box_footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    right: 0;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box_footer_text {
    color: #FFF9F9;
    text-align: center;
    position: relative;
    top: 5px;
}

.box_footer_logoGithub {
    width: 160px;
    height: 44px;
    background-image: url(../img/github.png);
    background-size: 100%;
    margin: 4px;
    position: absolute;
    bottom: 2px;
    right: 50px;
}