* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.box_intro {
    position: relative;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
}

.box_intro_text {
    width: 354px;
    height: auto;
    position: relative;
    left: 20px;
    top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14 px;
    color: #000000;
}

.box_card_super {
    position: sticky;
    background-color: #00669F;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0px;
    z-index: 10;
}

.box_card_nav {
    display: flex;
    position: relative;
    top: 0px;
    background-color: #001D2D;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 30px;
    margin: 0;
    justify-content: flex-end;

}

.nav {
    margin: 0;
    list-style-type: none;
    display: inline;
}

li {
    position: relative;
    top: 5px;
    right: 0px;
    padding: 10px;
    margin: 0 10px 0 0;
    font-size: 16px;
    color: #FFF;
    display: inline;
    text-align: center;

}




.box_card_super_text {
    font-size: 35px;
    position: relative;
    color: white;
    left: 20px;
    top: 10px;
    bottom: 0px;
    font-style: normal;
    font-weight: normal;

}

.cajaSupers {
    display: flex;
    text-align: center;
    width: 90%;
    height: 70px;
    position: relative;
    padding: 0px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;

}

.card-superheroe {
    display: inline-block;
    position: relative;
    background-color: #F3F3F3;
    margin: 0px;
    left: 5%;
    bottom: 0px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 325px;
    height: 580px;
}

.card-superheroe-fondo-personaje {
    background-image: url(../img/bg-batman.jpg);
    background-position: center;
    background-size: 180%;
    border-radius: 50px 50px 0px 0px;
    width: 325px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.card-superheroe-foto-perfil-personaje {
    background-image: url(../img/batman.jpg);
    background-position: center;
    background-position-x: -100px;
    background-position-y: 0px;
    background-size: 240%;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 105px;
    z-index: 3;

}

.card-superheroe-titulo {
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    position: relative;
    bottom: 80px;
}

.card-superheroe-descrp {
    text-align: justify;
    padding: 20px;
    position: relative;
    bottom: 120px;

}

.card-superheroe-like {
    color: #CC2424;
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;


}

.card-superheroe-boton {
    background-color: #00669F;
    width: 130px;
    height: 47px;
    padding: 15px 10px 15px 35px;
    color: #F3F3F3;
    border-radius: 3px;
    border: none 20px #00669F;
    line-height: 20px;
    position: absolute;
    bottom: 4%;
    left: 97.5px;

}



.add_super_boton {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #00669F;
    color: #00669F;
    position: fixed;
    bottom: 100px;
    right: 60px;
    z-index: 30;
}

.add_super_boton_text {
    color: #FFF;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 42px;

}

.card-superheroe_MM {
    display: inline-block;
    position: relative;
    background-color: #F3F3F3;
    left: 5%;
    bottom: 0px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 325px;
    height: 580px;
}

.card-superheroe-fondo-personaje_MM {
    background-image: url(../img/bg-wonderw.jpg);
    background-position: center;
    background-size: 180%;
    border-radius: 50px 50px 0px 0px;
    width: 325px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.card-superheroe-foto-perfil-personaje_MM {
    background-image: url(../img/wonderw.jpg);
    background-position: center;
    background-position-x: -70px;
    background-position-y: -10px;
    background-size: 210%;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 105px;
    z-index: 3;

}

.card-superheroe-fondo-personaje_S {
    background-image: url(../img/bg-superman.jpg);
    background-position: center;
    background-size: 180%;
    border-radius: 50px 50px 0px 0px;
    width: 325px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.card-superheroe-foto-perfil-personaje_S {
    background-image: url(../img/superman.jpg);
    background-position: center;
    background-position-x: -55px;
    background-position-y: -15px;
    background-size: 210%;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 105px;
    z-index: 3;

}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
footer {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

.box_intro {
    position: relative;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
    margin: 0;
}

.box_intro_text {
    width: 100%;
    height: auto;
    position: relative;
    left: 20px;
    top: 8px;
    bottom: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14 px;
    color: #000000;
}

.box_nombreTiendaGeneral {
    margin: 0%;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 60px;
    position: sticky;
    z-index: 10;

}

.box_logoTienda {
    margin: 0;
}

.box_logoTienda {
    position: relative;
    bottom: 0px;
    display: block;
    color: blueviolet;
    background-image: url(../img/logo_tienda.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 60px;
    width: 100%;
}

.box_nombreTienda_text {
    font-size: 35px;
    position: absolute;
    color: white;
    left: 110px;
    top: 15px;
    bottom: 0px;
    font-style: normal;
    font-weight: normal;
}

.box_footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -100px;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box_footer_text {
    color: #FFF9F9;
    text-align: center;
    position: relative;
    top: 15px;
}

.box_footer_logoGithub {
    width: 160px;
    height: 44px;
    background-image: url(../img/github.png);
    background-size: 100%;
    margin: 4px;
    position: absolute;
    bottom: 2px;
    right: 50px;
}